@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font{
    font-family: 'Work Sans', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Shared styles */
.display-flex{
    display: flex;
}
/* Dark 02 */
.text-gray{
    color: rgb(66, 66, 66);
}
/* Dark 03 */
.text-light-gray{
    color: rgb(114, 114, 114);

}
.bg-light{
   background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary{

    border-radius: 8px;
    background-color: rgb(255, 144, 14);
    color: rgb(255, 255, 255);
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
}




/* Header Styles */






/* Navbar related styles */
.navbar{
    justify-content: space-between;
    align-items: center;
   
}
.brand{
    font-weight: 700;
    font-size: 3rem;

}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500px;
}
.navbar, .banner{

    max-width: 1440px;
    margin: 0 auto;
}

/* banner related contain */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;

    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}

.banner-img{
    width: 100%;
}

/* Responsive Media Query */
@media screen and (max-width:576px) {
    .navbar, .nav-link {
        flex-direction: column;
    }
    
}